notes.txt

# Directories

all_profiles
directory_data
html
long_names
missing_profiles
missing_data

# Logs

logs
_.log
npm-debug.log_

# Dependency directories

node_modules/

# Finder (MacOS) folder config
.DS_Store
